<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.dao.CommentMapper">


    <resultMap id="ArtCommentMap" type="ArtComment">
        <id property="id" column="id"/>
        <result property="artId"  column="art_id" />
        <result property="content"  column="content" />
        <result property="createDate"  column="create_date" jdbcType="TIMESTAMP" />
        <result property="createBy"  column="create_by" />
        <result property="authorName"  column="authorName" />
    </resultMap>


    <select id="queryCommentByContent" resultMap="ArtCommentMap">
        select t1.*, t2.nick_name as authorName from art_comment t1
        left join customer t2 on t1.create_by = t2.id
        <where>
            <if test="artId != null and artId != 0">
                t1.`art_id` = #{artId}
            </if>
        </where>
        order by t1.id
    </select>

    <select id="queryTheLastComment" resultMap="ArtCommentMap">
        select t1.*, t2.nick_name as authorName from art_comment t1
        left join customer t2 on t1.create_by = t2.id
        order by t1.create_date limit 10
    </select>

    <select id="packageData" resultType="int">
        select sum(comment_count) from art_content
        <where>
            <if test="subjectId != null and subjectId != 0">
                subject_id = #{subjectId}
            </if>
        </where>
    </select>

</mapper>