<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.dao.ContentMapper">


    <resultMap id="ArtContentMap" type="ArtContent">
        <id property="id" column="id"/>
        <result property="title"  column="title" />
        <result property="authorId"  column="author_id" />
        <result property="allowComment"  column="allow_comment" />
        <result property="avatar"  column="avatar" />
        <result property="desc"  column="desc" />
        <result property="subjectId"  column="subject_id" />
        <result property="bodyId"  column="body_id" />
        <result property="commentCount"  column="comment_count" />
        <result property="areaTypeOne"  column="area_type_one" />
        <result property="areaTypeTwo"  column="area_type_two" />
        <result property="areaTypeThree"  column="area_type_three" />
        <result property="playDate"  column="play_date" />
        <result property="playDay"  column="play_day" />
        <result property="money"  column="money" />
        <result property="playType"  column="play_type" />
        <result property="viewCount"  column="view_count" />
        <result property="weight"  column="weight" />
        <result property="status"  column="status" />
        <result property="authorName"  column="authorName" />
        <result property="subjectName"  column="subjectName" />
        <result property="createDate"  column="create_date" jdbcType="TIMESTAMP" />
        <result property="updateDate"  column="update_date" jdbcType="TIMESTAMP" />
    </resultMap>


    <select id="queryAllListByLeftJoin" resultMap="ArtContentMap">
        select t1.*, t2.nick_name as authorName,t3.name as subjectName from art_content t1
        left join customer t2 on t1.author_id = t2.id
        left join art_subject t3 on t1.subject_id = t3.id
        <where>
            <if test="subjectId != null and subjectId != 0">
                t1.`subject_id` = #{subjectId}
            </if>
            <if test="status != null and status != 0">
                and t1.`status` = #{status}
            </if>
        </where>
        order by t1.id
    </select>


    <select id="queryAllListAndCityName" resultMap="ArtContentMap">
        select t1.*, t2.SHORT_NAME as authorName from art_content t1
        left join area t2 on t1.area_type_three = t2.id
        <where>
            <if test="subjectId != null and subjectId != 0">
                t1.`subject_id` = #{subjectId}
            </if>
        </where>
        and t1.`status` = 2
    </select>

    <insert id="insertContent">
        insert into art_content
        (
        `title`,
        `author_id`,
        `avatar`,
        `allow_comment`,
        `subject_id`,
        `desc`,
        `body_id`,
        `comment_count`,
        `area_type_one`,
        `area_type_two`,
        `area_type_three`,
        `play_date`,
        `play_day`,
        `money`,
        `play_type`,
        `view_count`,
        `weight`,
        `status`,
        `create_date`,
        `update_date`
        )
        values
        (
        #{title},
        #{authorId},
        #{avatar},
        #{allowComment},
        #{subjectId},
        #{desc},
        #{bodyId},
        #{commentCount},
        #{areaTypeOne},
        #{areaTypeTwo},
        #{areaTypeThree},
        #{playDate},
        #{playDay},
        #{money},
        #{playType},
        #{viewCount},
        #{weight},
        #{status},
        #{createDate},
        #{updateDate}
        )
    </insert>

</mapper>